/****************************************************************************
*	Desarrollado por: Fabián Murillo, fabianmurillo.01@gmail.com			*
*					  © 2018												*
****************************************************************************/
body{
	color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
    overflow:auto;
}