/********************************************************************
*   Desarrollado por: Fabián Murillo, fabianmurillo.01@gmail.com    *
*                     © 2019                                        *
*********************************************************************/
#roles_container{
    /**/
}
#roles_container .page_content{
    max-width:1100px;
    /*min-width:700px;*/
    margin:0px auto;
}
#roles_container .modulo_page{
    /**/
}

.table-wrapper {
    /*width: 700px;*/
    margin: 30px auto;
    background: #fff;
    padding: 20px;  
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
input.hasDatepicker{
    cursor:pointer;
}
.cont_table{
    overflow-x:auto;
}
table#tabla_roles {
    border-collapse: collapse;
    table-layout:auto;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
#tabla_roles title .add-new i {
    margin-right: 4px;
}
table#tabla_roles tr:nth-child(even){background-color: #f2f2f2}
table#tabla_roles tr th, table#tabla_roles tr td{
    overflow:hidden;
    text-overflow:ellipsis;
    min-width:100px;
}

table#tabla_roles tr th, table#tabla_roles tr td {
    border-color: #e9e9e9;
}
table#tabla_roles th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table#tabla_roles th:last-child {
    width: 100px;
}
table#tabla_roles td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table#tabla_roles td a.add {
    color: #27C46B;
}
table#tabla_roles td a.edit {
    color: #FFC107;
}
table#tabla_roles td a.delete {
    color: #E34724;
}
table#tabla_roles td i {
    font-size: 19px;
}
table#tabla_roles td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table#tabla_roles .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table#tabla_roles .form-control.error {
    border-color: #f50000;
}
table#tabla_roles td .add {
    display: none;
}